@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(91, 91, 99, 0.7), rgb(12, 41, 9)), url("./Phoneimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Audiowide', cursive;
}

nav {
    display: flex;
    padding: 2.5% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(20, 136, 20);
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.owner{
    text-align: center;
}

.owner img {
    width: 550px;
    height: 280px;
    transition: 1s;
    margin: 5px;
    padding: 2px;
    border-radius: 50%;
}

.owner h3{
    text-align: center;
    padding: 1.5%;
}




