@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    margin: 0;
    padding: 0;
}


.header {
  color: white;
  font-family: 'Audiowide', cursive;
}


nav {
  display: flex;
  padding: 2.5% 5%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex:1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  background: white;
  display: block;
  margin: auto;
  height: 2px;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,77,80,0.7), rgb(190, 178, 3)), url("./Phoneimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;    
}

.page-name{
color: white;

text-align: center;

 padding: 10px;
}
.gallery {
    margin: 10px 30px;
  }
  
  .gallery img {
    transition: 1s;
    margin: 5px;
    padding: 10px;
    border-radius: 25%;
    width: 300px;
    height: 30%;    
  }
  
  .gallery img:hover {
    opacity: 70%;
  }    
  

.photos{
  text-align: center;
  margin: 15px;
}

li {
  font-size: 20px;
}

