*{
    margin: 0;
    padding: 0;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,77,80,0.7), rgb(6, 20, 70)), url("./Phoneimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

nav {
    display: flex;
    padding: 2.5% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(77, 77, 141);
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}


.text-box {
    color: white;
    width: 85%;
    text-align: center;
    top: 50%;
    left: 50%;
}

.text-box h1 {
    display: inline-block;
    color: white;
    font-size: 45px;
}

.text-box p {
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.gallery-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1.4px solid white;
    font-size: 12px;
    padding: 12px 40px;
    margin: 20px;
    background: transparent; 
    position: relative;
}