@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(77, 77, 83, 0.7), rgba(56, 6, 6)), url("./Phoneimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Audiowide', cursive;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    padding: 2.5% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(199, 16, 53);
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.pay {
    width: 400px;
    line-height: 45px;
}
button a {
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.orderpage{
    display:flex;
    justify-content: space-around;
}

p {
    padding: 10px;
    margin: 2px;
    line-height: 35px;
}