*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(77, 77, 83, 0.7), rgba(56, 6, 6)), url("./Phoneimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    padding: 2.5% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(199, 16, 53);
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.pay {
    width: 300px;
    margin: 3% auto;
    line-height: 35px;

}

button {
    background-color: black;
}

button a {
    color: white;
    text-decoration: none;
}